* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 1em 0;
  background-color: black;
}

/* NavBar.js */

.navi {
  background-color: rgb(0, 0, 0);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-family: Snell Roundhand, cursive;
  color: #ffffff;
	font-size: calc((2.5 - 1) * 2vw + 1rem);
}

.top a {
  text-decoration: none;
  color: #ffffff;
}

.socials img{
	justify-content: space-between;
  max-width: calc((3 - 1) * 1vw + .5rem);
	text-decoration: none;
	color: #000000;
}

.logo {
  max-width: 10em;
  font-size: calc((2 - 1) * 1vw + .5rem);
}

.socials {
  color: #ffffff;
  text-decoration: none;
}

.socials a {
  margin: 1em;
  padding: .5em;
  text-decoration: none;
  color: #ffffff;
}

.nav-bar{
	display: flex;
  background: #000000;
  box-shadow: 0em 0em 8px 0px white;
	justify-content: space-evenly;	
}

.nav-bar a{
	color: white;
	text-decoration: none;
  padding: .5em 0px;
}

.nav-bar a:hover{
  text-shadow:  1px 1px 3px red, 
                3px 3px 3px white; 
}

/* Home.js */

.home {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* Carousel.js */

.Carousel {
  padding: 1em 1em;
  margin: 1em 0em;
  width: 100%;
  color: white;
  display: flex;
  overflow-x: scroll;
  background-color: #000000;
}

.Carousel img {
  padding: .25em .25em 0em;
  width: 125px;
  height: 125px;
  border-radius: .5em;
}

.card {
  min-width: 275px;
  margin: 0em 1em;
  border: 1px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 8px 0px white;
  border-radius: .5em;
}

.cardBody p {
  font-size: 16px;
  margin: 0em 1em;
}

.Carousel::-webkit-scrollbar {
  background: #000000;
  height: 4px;
}

.Carousel::-webkit-scrollbar-thumb{
  border-radius: 2em;
  background: #ffffff;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 12.28)) }
}
	
.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide-track:hover, .slide-track:focus {
  animation-play-state: paused;
}


/* About.js */

.About {
  justify-content: center;
  align-items: center;
  background-color: #000000;
  max-width: 50%;
}

.front {
  margin: 1em 2em;
  position: relative;
  box-shadow: 0em 0em 8px 0px rgb(255, 255, 255);
  border-radius: .5em;
}

#headshot {
  max-width: 100%;
  max-height: 100%;
  border-radius: .5em;
  margin-bottom: -.25em;
}

.frontCap {
  text-align: center;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0, 1);
  width: 55%;
  font-size: 17px;
  padding: 3em 0em;
  border-radius: .5em 0em .5em 0em;
  color: #ffffff;
  box-shadow: 0em 0em 1px 0px rgb(255, 255, 255);
}

.frontCap p {
  padding: 0em 1em;
}

/* MotD.js */

.motd {
  justify-content: center;
  align-items: center;
  background-color: #000000;
  max-width: 50%;
  color: #ffffff;
}

.meal {
  border-radius: .5em;
  box-shadow: 0em 0em 8px 0px rgb(255, 255, 255);
  margin: 0em 2em;
  position: relative;
}

.mealTitle {
  text-align: center;
  position: absolute;
  background-color: rgb(0, 0, 0, .5);
  z-index: 1;
  width: 100%;
  box-shadow: 0em 0em 2px 0px rgb(255, 255, 255);
  border-radius: .5em .5em 0em 0em;
}

.motd h1 {
  margin: auto;
  width: 75%;
  background-color: rgb(0, 0, 0, .7);
}

#mealPic {
  border-radius: .5em;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: -.25em;
}

.mealText{
  text-align: center;
  box-shadow: 0em 0em 8px 0px rgb(255, 255, 255);
  background-color: rgb(0, 0, 0, .7);
  width: 100%;
  border-radius: 0em 0em .5em .5em;
}

.mealCap {
  padding: .25em 2em;
  margin: .25em 0em;
}

.mealLink {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: .5em;
}

@media only screen and (max-width: 600px){

  .navi {
    border-bottom: 1px solid white;
  }

  .top {
    border-bottom: 1px solid white;
  }

  .socials {
    text-align: center;
    width: 100px;
  }

  .socials a{
    margin: 0;
    padding: 2px 8px;
  }

  .slide-track {
    overflow-x: visible;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-275px * 10)) }
  }

  .About {
    max-width: 100%;
  }

  #headshot {
    height: 365px;
  }

  .frontCap {
    font-size: 12px !important;
  }

  .motd {
    margin-top: 2em;
    max-width: 100%;
    margin-bottom: 4em;
  }

  .motd h1 {
    width: 80%;
  }

  .mealText {
    margin-bottom: -5em;
    background-color: rgb(0, 0, 0, 1);
  }

  .mealCap {
    padding: 0 2em;
  }

}

@media only screen and (max-width: 920px) {
  .frontCap {
    font-size: 14px;
  }
}